*{
    background-color: aquamarine;
    text-align: center;
    font-size: 32px;
    box-shadow: 10px 30px 30px #ccc;
    font-style: italic;
}

.express{
    position: absolute;
    top:200px;
    transition: all 2s;
    margin: 20px;
    box-shadow: 10px 20px 10px firebrick;
    padding: 10px;
    &:hover{
        background-color: aqua;
        box-shadow: 10px 20px 10px black;
        border:0.5px dashed red;
        transform:scaleX(1.1)
       
    }
    
}

.page{
    @extend .express;
    top:100px;
    transform: rotate(360deg);
    &:hover{
        transform:rotate(-360deg);
    }
    
}